body {
    margin: 0px;
    padding: 0px;
    font-family: "Abel", sans-serif;
    font-style: normal;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

.container-two { 
    margin-right: 100px;
    margin-left: 100px;
}

.head-items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    height: 90px;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); 
  }

.block-logo-nav, .block-search-login { 
    display: flex;
}

.block-search-login {
    margin-top: 15px;
}

.logo-head a { 
    text-decoration: none;
    color: #000;
    font-size: 48px;
}

.nav-items {
    margin-top: 15px;
}

.nav-items a { 
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    margin-left: 70px;

    transition: color 0.3s linear;
}

.nav-items a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%; 
    height: 2px;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-items a:hover::after {
    transform: scaleX(1);
}

.search {
    display: flex;
}

.search input { 
    background-color: #e9e9e9;
    padding: 5px 10px;
    width: 280px;
    height: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.search button { 
    background-color: #fff;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.search-img {
    margin-top: -10px;
    width: 22px;
}

.login-reg {
    margin-top: 5px;
    margin-left: 10px;
}

.login-reg a { 
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.burger-menu {
    display: none;
}

.burger-img {
    width: 30px;
    margin-left: -120px;
}

.burger-slide {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    opacity: 0; 
    transform: translateX(-100%); 
    transition: opacity 0.6s ease, transform 0.6s ease; 
}

.burger-slide.show {
    opacity: 1; 
    transform: translateX(0); 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}

#logo-burger {
    font-size: 34px;
}

.nav-item-burger {
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    margin-right: 80px;
    display: block;
    transition: color 0.3s linear;
}

.block { 
    display: block;
}

#burger {
    border: none;
    outline: none;
    background-color: transparent;
}

.popup {
    display: none;
    position: fixed;
    top: 100px;
    right: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#login-popup { 
    width: 370px;
    height: 270px;
}

#register-popup {
    width: 370px;
}

.popup-content {
    padding: 20px;
    text-align: center;
}

.popup h2 {
    color: #4437DE;
    margin-top: 10px;
}

.popup input[type="email"],
.popup input[type="password"],
.popup input[type="text"],
.popup input[type="tel"] {
    display: block;
    width: calc(100% - 20px);
    margin: 15px 0;
    padding: 10px;
    border: 2px solid #4437DE;
    border-radius: 10px;
    outline: none;
}

.popup button {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #4437DE;
    color: #fff;
    border: none;
    cursor: pointer;
}

.popup button:hover {
    background-color: #221D7C;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.main-title { 
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.janre-link a { 
    text-decoration: none;
    color: #4437DE;
    font-size: 40px;
}

.janre-image {
    position: relative;
    display: inline-block; 
}

.janre-image img {
    width: 250px;
    height: 250px;
    border-radius: 16px;
}

.janre-text {
    position: absolute;
    bottom: 5px;
    left: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0); 
    font-size: 26px;
}

.janre-image a {
    text-decoration: none;
    color: #fff;
}

.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.block-janre {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.janre-image {
    width: calc(20%); 
    margin-right: 0px;
    margin-bottom: 30px; 
} 

.janre-image:nth-child(5n) {
    margin-right: 0;
}

.separator {
    border-bottom: 3px solid #4437DE;
    margin-top: 100px;
    width: 100%;
}

.footer {
    width: 100%;
    margin-top: 200px;
    height: 300px;
    background: linear-gradient(to top, rgba(68, 55, 222, 0.97), rgba(255, 255, 255, 1)); 
}

.footer-block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.social-images {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.social-images img { 
    border-radius: 10px;
}

.footer-link a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

@media (max-width: 1440px) { 
    .logo-head a {
        font-size: 38px;
    }

    .nav-items a {
        font-size: 20px;

    }

    .janre-image img {
        width: 200px;
    }

    .header {
        height: 70px;
    }

    .search input { 
        width: 220px;
    }

    .block-search-login {
        margin-top: 10px;
    }

    .login-reg a {
        font-size: 22px;
    }

    .search-img {
        margin-top: 0px;
        width: 20px;
    }
}

@media (max-width: 1000px) {

    .logo-head, .nav-items, .login-reg {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .header {
        height: 50px;
    }

    .block-search-login {
        margin-top: 0px;
    }

    .janre-image {
        width: calc(30% ); 
        margin-right: 0px;
        margin-bottom: 30px; 
    } 

    .janre-image:nth-child(3n) {
        margin-right: 0;
    }
}


@media (max-width: 500px) {

    .burger-img {
        margin: auto;
        margin-right: 70px;
        margin-left: -20px
    }
    .container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .container-two {
        margin-bottom: 100px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .block-janre {
        display: block;
    }

    .janre-image {
        display: block;
        width: 100%;
    }

    .janre-image img {
        width: 100%;
    }

    .footer-link a {
        font-size: 16px;
    }

    .profile-image{
        display: none;
    }

    .popup {
        top: 200px;
        right: 20px;
    }
}