body {
    margin: 0px;
    padding: 0px;
    font-family: "Abel", sans-serif;
    font-style: normal;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

.container-two {
    margin-right: 100px;
    margin-left: 413px;
}

.head-items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    height: 90px;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }

.block-logo-nav, .block-search-login {
    display: flex;
}

.block-search-login {
    margin-top: 15px;
}

.logo-head a {
    text-decoration: none;
    color: #000;
    font-size: 48px;
}

.nav-items {
    margin-top: 15px;
}

.nav-items a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    margin-left: 70px;

    transition: color 0.3s linear;
}

.nav-items a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-items a:hover::after {
    transform: scaleX(1);
}

.search {
    display: flex;
}

.search input {
    background-color: #e9e9e9;
    padding: 5px 10px;
    width: 280px;
    height: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.search button {
    background-color: #fff;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.search-img {
    margin-top: -10px;
    width: 22px;
}

.login-reg {
    margin-top: 5px;
    margin-left: 10px;
}

.login-reg a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.burger-menu {
    display: none;
}

.burger-img {
    width: 30px;
    margin-left: -120px;
}

.burger-slide {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.burger-slide.show {
    opacity: 1;
    transform: translateX(0);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}

#logo-burger {
    font-size: 34px;
}

.nav-item-burger {
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    margin-right: 80px;
    display: block;
    transition: color 0.3s linear;
}

.block {
    display: block;
}

#burger {
    border: none;
    outline: none;
    background-color: transparent;
}

.popup {
    display: none;
    position: fixed;
    top: 100px;
    right: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#login-popup {
    width: 370px;
    height: 270px;
}

#register-popup {
    width: 370px;
}

.popup-content {
    padding: 20px;
    text-align: center;
}

.popup h2 {
    color: #4437DE;
    margin-top: 10px;
}

.popup input[type="email"],
.popup input[type="password"],
.popup input[type="text"],
.popup input[type="tel"] {
    display: block;
    width: calc(100% - 20px);
    margin: 15px 0;
    padding: 10px;
    border: 2px solid #4437DE;
    border-radius: 10px;
    outline: none;
}

.popup button {
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #4437DE;
    color: #fff;
    border: none;
    cursor: pointer;
}

.popup button:hover {
    background-color: #221D7C;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.main-title {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}

.container-block {
    display: flex;
}

.container-one {
    width: 400px;
}

.block-filter {
    width: 300px;
}

.filter-genre{
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 10px;
}

.filter-year {
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.close-trp{
    left 10px;
    top: 20px;
}

#genreForm label, #yearForm label {
    font-size: 20px;
    font-weight: 500;
}

.more-genre button {
    background-color: #F9F9F9;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}

.complete-btn {
    text-align: center;
    margin-top: 20px;
}

.complete-btn button{
    width: 200px;
    height: 25px;
    background-color: #4437DE;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.popup-movie {
    display: none;
    position: fixed;
    top: 42%;
    left: 27%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.pagination {
    margin-top: -185px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.popup-movie h3 {
    margin-top: 0;
}

.popup-movie-content {
    margin-bottom: 20px;
}
.popup-movie-content label {
    margin-bottom: 10px;
    font-size: 20px;
}

.popup-movie button {
    display: block;
    margin-top: 20px;
    width: 200px;
    height: 25px;
    background-color: #4437DE;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.more-genre, .more-year {
    margin-top: 20px;
}

.popularity-images {
    display: flex;
}

.popularity-title {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.popul-film-title a {
    font-size: 27px;
    text-decoration: none;
    color: #000;
}

.popul-film-title {
    margin-bottom: 10px;
}

.popul-janre {
    font-size: 22px;
    color: #797979;
    font-weight: 300;
}

.popul-janre li {
    list-style-type: none;
}

.popul-year {
    font-size: 22px;
    color: #797979;
    font-weight: 300;
    margin-top: 10px;
}

.big-block {
    display: flex;
}

.block-film {
    margin-left: 430px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -975px;
}

.popularity-images {
    height: 300px;
    width: calc(33.33% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.popularity-images img{
    width: 210px;
    border-radius: 16px;
}

.popularity-images:nth-child(3n) {
    margin-right: 0;
}

.separator {
    border-bottom: 3px solid #4437DE;
    margin-top: 100px;
    width: 100%;
}

.footer {
    width: 100%;
    margin-top: 200px;
    height: 300px;
    background: linear-gradient(to top, rgba(68, 55, 222, 0.97), rgba(255, 255, 255, 1));
}

.footer-block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.social-images {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.social-images img {
    border-radius: 10px;
}

.footer-link a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.side-bar {
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 600px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px;
    background-color: #fff;
}

.side-bar a {
    border: 1px solid #4437DE;
    color: #4437DE;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
}

.side-bar a i {
    margin-right: 5px;
}

.aside-content{

    margin-top: 400px;
}


@media (max-width: 1440px) {
    .logo-head a {
        font-size: 38px;
    }

    .nav-items a {
        font-size: 20px;

    }

    .janre-image img {
        width: 200px;
    }

    .header {
        height: 70px;
    }

    .search input {
        width: 220px;
    }

    .block-search-login {
        margin-top: 10px;
    }

    .login-reg a {
        font-size: 22px;
    }

    .search-img {
        margin-top: 0px;
        width: 20px;
    }

    .popul-film-title a {
        font-size: 20px;
    }

    .popul-janre {
        font-size: 16px;
    }

    .popul-year {
        font-size: 16px;
    }

    .popularity-images img {
        width: 180px;
    }
}

@media (max-width: 1000px) {

    .logo-head, .nav-items, .login-reg {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .header {
        height: 50px;
    }

    .block-search-login {
        margin-top: 0px;
    }
}

@media (max-width: 500px) {
    .burger-img {
        margin: auto;
        margin-right: 70px;
        margin-left: -20px
    }

    .container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .big-block {
        display: block;
    }

    .container-two {
        margin-left: 40px;
    }

    .main-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .popul-film-title{
        width: 170px;
        margin-top: -50px;
        margin-bottom: 60px;
    }

    .popularity-title {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    .block-film {
        display: block;
        margin: auto;
        margin-top: 100px;
    }

    .filter-genre{
        width: 320px;
    }

    .filter-year {
        width: 320px;
    }

    .footer-link a {
        font-size: 16px;
    }

    .profile-image {
        display: none;
    }

    .popup-movie {
        top: 300px;
        left: 200px;
    }

    .popularity-images {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .popularity-images img {
        width: 100%;
        border-radius: 16px;
    }

    .popularity-title {
        margin-left: 0;
    }

    .aside-content {
        margin: auto !important;
        padding: 0 20px !important;
        text-align: center;
    }

    .side-bar {
        margin-top: 100px;
        width: 100% !important;
        height: 150px;
        padding: 5px;
        box-shadow: none !important;
    }

    .side-bar a {
        font-size: 16px !important;
        padding: 10px 0 !important;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .pagination {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
    }
}
